/*---___---___---___---___---*/
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/*SOUl SEARCH
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/* ##Table of Content##
# Global
# Stucture Tags
# # # HTML Text Styling Tags
# ID's
# Classes
# Media Queries
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/*  COLORS- NEW

/*---___---___---___---___---*/
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/*fonts*/
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/*---___---___---___---___---
font-family: 'Libre Barcode 128 Text', cursive;
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/* GLOBAL*/
/*---___---___---___---___---*/
/*---___---___---___---___---*/
* {

padding: 0;
margin: 0;
/*width: 100%;*/
height: auto;
font-family: Helvetica, Ariel, sans-serif;
font-size: 20px;
/*background-color:#000000;*/
}
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/* Structure TAGS*/
/*---___---___---___---___---*/
/*---___---___---___---___---*/
body{
max-width: 100%;
width:960px;
margin-right: auto;
margin-left: auto;
margin-top:auto;
margin-bottom: auto;
}
nav{
/*margin-top: 28%;*/
/*position: fixed;*/
}
menu{
text-align: center;
width:100%;
max-width: 100%;
margin-left: auto;
margin-right: auto;
height:6%;
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows:1fr;
margin-left: auto;
}
select{
/*width:40%;*/
background-color:#ffffff;
}


label{
/*width:80%;*/
background-color:#ffffff;
}
header{
/*background-color:#eaf5dd;*/
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows:1fr;
width:100%;
height:28%;
max-width:100%;
margin: auto;
}
section{
background-color:#CAEDC7;
width: 100%;
height:auto;
}


input{
width:100%;
text-align: center;
font-size: 36px;
font-family: 'Libre Barcode 128 Text', cursive;
color:#000000;
border-radius: 8px;
}
input::placeholder{
text-align: center;
padding-top:12px;
font-size: 36px;
font-family: 'Libre Barcode 128 Text', cursive;
color:#000000;
opacity:0.9;
}
input#quantity{
width:18%;
}
fieldset{
border: none;
/*width:max-content;*/
}

ul{
display:inline-grid;
}
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/* TABLE*/
table{
border-collapse: collapse;
border-style:solid black 1px;
}
td{
	background-color:#ffff66;
	font-size: 12px;
	border: black solid 1px;
}
th{    
	border-width:1px;
	background-color: white;
    border-style: solid;
    font-size: 12px;
    font-weight: normal;
    border-color: black;
	
}
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/* HTML TEXT STYLINGs*/
h1 {
font-family: 'Libre Barcode 128 Text', cursive;
display: block;
background-color: #fff;
}
h1
{font-size:200%;
text-align: center;}

p{
font-family:'Roboto', sans-serif;
background-color: #fff;
}
a{
	background-color:#ffffff;
/*font-size: 18px;*/
/*margin-left:auto;*/
/*margin-right: auto;*/
text-decoration: none;
/*justify-content: left;*/
/*max-width: 100%;*/
}
img a {
float:right;
background-color: #eaf5dd;
}

ul{
background-color: #ffffff;
box-shadow: 20px 20px 8px 8px rgba(0, 0, 0, 0.12);
}
li {
background-color: #ffffff;
font-family: 'Amatic SC', cursive;
font-size: 1.5em;
list-style: none;
display:contents;
padding-right:30px;
margin:auto;
align-content: center;
}
button{
	height:50px;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 50px;
	list-style: none;
	align-content: center;
	border-collapse: collapse;
	border-style: none;
	/*display: none;*/
}
button:focus{
display: none;
}
div#blank{
	background-color: #ffffff;
}
td img{
	width:280px;
	/*height:200px;*/
}
img a{
	height:250px;
	width:200px;
}
a img{
	width:280px;
	height:200px;
}
/*---___---___---___---___---*/
/*---___---___---___---___---*/
/* ID's*/
/*---___---___---___---___---*/
/*---___---___---___---___---*/
#form{
display:grid;
grid-template-columns: 8fr 2fr;
width: 45%;
opacity: 0.5;
margin-left: auto;
margin-right: auto;
width: 45%;
opacity: 0.8;
margin-top: 15%;
}


#header{
background-color: #fff
width:auto;
border:darkgreen .1em solid;
}
#title{
background-color: #fff;
text-align: center;
font-size:180%;
color:#7a2f56;
font-family: 'Amatic SC', cursive;
}
#content{
display: grid;
grid-template-columns: 1fr ;
grid-template-rows:1fr;
background-color: #ffffff;
padding-top:3%;}



form #search{
z-index: -1;
border-radius: 8px;
height: 57px;
border:white 9px solid;
}
form #search:focus{
background-color: lightgrey;
outline: none;
}
#SearchBox{
background-color: none;
}
#mainSearch{
background-image: url(http://192.168.64.2/Assignment/snkrWall.jpg);
background-repeat: no-repeat;
background-size: cover;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
width:100%;
margin:auto;
margin-left: auto;
margin-right: auto;
height:400px;
}
#searchbox{
width:100%;
}
#resultSpace{
height:500px;
}
#searchButton{
background-repeat: no-repeat;
/*background-size: cover;*/
border:white 9px solid;
border-radius:9px;
outline:none;
align-content:justify;
}
#searchButton:hover{
background-color: grey;
}
section#resultContainer{
display: block;
width:50%;
margin:auto;
margin-bottom:6%;
margin-left: auto;
margin-right: auto;
height:auto;
font-family: 'Amatic SC', cursive;
color:#b87098;
background-color: #b87098;
/*box-shadow: 2px 13px 18px 0px rgba(0, 0, 0, 0.16);*/
}
#designImages{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr,1fr,1fr ;
}




